.content-header {
  height: 200px;
  width: 100%;
  position: relative;
  background: url("../assets/background.jpg");
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.content-header > h1 {
  color: white;
  font-size: 36px;
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  left: 240px;
  color: #fff;
  line-height: 1;
  text-shadow: #000 0 0 10px;
}

.content-header-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #000;
}

.content-header-button:hover {
  background: #eee;
}
